@media screen and (min-width:0px) and (max-width:599px) 
 {
     .navbar ul li 
     {
         width: 100%;
         display: contents;
         
     }
     .display
     {
         
         width: 100%;
         display: contents;
         
     }
    
}
@media screen and (min-width:600px) and (max-width:767px) 
 {
    .navbar ul li 
     {
         width: 100%;
         display: contents;
        
     }
     .display
     {
         
         
         display: contents;
         
     }
    
}
@media screen and (min-width:768px) and (max-width:991px) 
 {
    .navbar ul li 
    {
        width: 100%;
       
    }
    .text
     {
         
         width: 100%;
         
         
     }
     .about-form
     {
        width: 100%;

     }
    .one-two
    {
        width: 100%;
    }
    
}
@media screen and (min-width:992px) and (max-width:1200px) 
 {
    .one-two
    {
        width: 50%;
    }
    
}